/*!
 * Start Bootstrap - One Page Wonder (https://startbootstrap.com/template-overviews/one-page-wonder)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-one-page-wonder/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  border-bottom: 3px solid transparent;
  border: 1px solid;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.nav-link.active {
  border-bottom: 3px solid #fff !important;
}

.btn-orange, .color-bg {
  background-color: #FF5722;
}

.border-main {
  border: 1px dashed #FF5722;
}

.border-orange {
  border: 1px dashed #FF5722;
}

.nav-link.btn-orange:hover {
  background-color: rgba(255, 87, 34, 0.6);
}

.btn-purple {
  background-color: #3F51B5;
}

.border-purple {
  border: 1px dashed #3F51B5;
}

.nav-link.btn-purple:hover {
  background-color: rgba(63, 81, 181, 0.6);
}

.btn-green {
  background-color: #4CAF50;
}

.border-green {
  border: 1px dashed #4CAF50;
}

.nav-link.btn-green:hover {
  background-color: rgba(76, 175, 80, 0.6);
}

.btn-orange-darken {
  background-color: #FF9800;
}

.border-orange-darken {
  border: 1px dashed #FF9800;
}

.nav-link.btn-orange-darken:hover {
  background-color: rgba(255, 152, 0, 0.6);
}

.btn-blue-light {
  background-color: #03A9F4;
}

.border-blue-light {
  border: 1px dashed #03A9F4;
}

.nav-link.btn-blue-light:hover {
  background-color: rgba(3, 169, 244, 0.6);
}

.btn-rose {
  background-color: #E91E63;
}

.border-rose {
  border: 1px dashed #E91E63;
}

button {
  cursor: pointer;
}

.nav-link.btn-rose:hover {
    background-color: rgba(233, 30, 99, 0.6);
}

.nav-item:first-child a {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.nav-item:last-child a {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.align-center {
  text-align: center;
}

header.masthead {
  background: url('../images/nature.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header.masthead>.overlay {
  padding: 5rem 0;
  background: rgba(0, 0, 0, 0.6);
}

.center {
  text-align: center;
}

.dropdown-menu li a {
  margin-left: 1em;
}

.hide {
  display: none;
}

@media (min-width: 992px) {
  header.masthead>.overlay {
    padding: 10rem 0;
  }
}

@media (max-width: 992px) {
  .nav-item:first-child a {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }

  .nav-item:last-child a {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .nav-link {
    padding-left: 1em !important
  }
}
